# Network
CHAIN_ID=421614
NODE_URL=https://sepolia-rollup.arbitrum.io/rpc

# https://dashboard.candide.dev
BUNDLER_URL=https://api.candide.dev/public/v3/arbitrum-sepolia
PAYMASTER_URL=https://api.candide.dev/public/v3/arbitrum-sepolia

#EOA public and private key
PUBLIC_ADDRESS=
PRIVATE_KEY=

# For sponsor-gas example
SPONSORSHIP_POLICY_ID= #optional

# For pay-gas-in-erc20 / spend-permission example. CTT token on arbitrum-sepolia
TOKEN_ADDRESS=0xE0BD422189D77cD1AC77C520B363a7FA649FFdf1
