# Network
CHAIN_ID=11155111
CHAIN_ID1=11155111
CHAIN_ID2=11155420

NODE_URL=
NODE_URL1=
NODE_URL2=

# https://dashboard.candide.dev
BUNDLER_URL=
BUNDLER_URL1=
BUNDLER_URL2=

PAYMASTER_URL=https://api.candide.dev/public/v3/arbitrum-sepolia

#EOA public and private key
PUBLIC_ADDRESS=
PRIVATE_KEY=

# For sponsor-gas example
SPONSORSHIP_POLICY_ID= #optional

# For pay-gas-in-erc20 / spend-permission example. CTT token on arbitrum-sepolia
TOKEN_ADDRESS=0xE0BD422189D77cD1AC77C520B363a7FA649FFdf1
